DATABASE_URL=postgresql://postgres:root@localhost:5432/cookipedia?schema=public
PORT=3000
HOST_ENV=local
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=!!!REPLACEME!!!
RESEND_API_KEY=!!!REPLACEME!!!
FROM_EMAIL_NAME=Cookipedia
FROM_EMAIL_ADDRESS=noreply@cookipedia.site